In [1]:
import netCDF4 as nc
from netCDF4 import num2date,date2index
import datetime
import csv
import numpy as np

In [2]:
data = nc.Dataset('sst.nc')

In [3]:
data

<class 'netCDF4._netCDF4.Dataset'>
root group (NETCDF4_CLASSIC data model, file format HDF5):
    CDI: Climate Data Interface version 1.9.10 (https://mpimet.mpg.de/cdi)
    source: NOAA/NESDIS/National Climatic Data Center
    institution: NOAA/NESDIS/National Climatic Data Center
    Conventions: CF-1.0
    title: NOAA Extended Reconstructed SST V3b
    comments: The extended reconstructed sea surface temperature (ERSST)
was constructed using the most recently available
Comprehensive Ocean-Atmosphere Data Set (COADS) SST data
and improved statistical methods that allow stable
reconstruction using sparse data.
Currently, ERSST version 2 (ERSST.v2) and version 3 (ERSST.v3) and ERSST.v3b) are available from NCDC.
ERSST.v3b is an improved extended reconstruction over version 2.
 but with no satellite data
    platform: Model
    citation: Smith, T.M., R.W. Reynolds, Thomas C. Peterson, and Jay Lawrimore 2007: Improvements to NOAA's Historical Merged Land-Ocean Surface Temperature Analysis (1880-2006). In press. Journal of Climate (ERSSTV3).
Smith, T.M., and R.W. Reynolds, 2003: Extended Reconstruction of Global Sea Surface Temperatures Based on COADS Data (1854-1997). Journal of Climate, 16, 1495-1510. ERSSTV1
 Smith, T.M., and R.W. Reynolds, 2004: Improved Extended Reconstruction of SST (1854-1997). Journal of Climate, 17, 2466-2477.
    dataset_title: Extended Reconstructed Sea Surface Temperature (ERSST)
    source_doc: https://www.ncdc.noaa.gov/data-access/marineocean-data/extended-reconstructed-sea-surface-temperature-ersst-v3b
    data_modified: 2020-03-03
    References: https://www.psl.noaa.gov/data/gridded/data.noaa.ersst.html
    CDO: Climate Data Operators version 1.9.10 (https://mpimet.mpg.de/cdo)
    history: 15-Jun-2023 02:17:17 Subset NOAA/PSL
    dimensions(sizes): time(708), lon(180), lat(89)
    variables(dimensions): float64 time(time), float32 lon(lon), float32 lat(lat), float32 sst(time, lat, lon)
    groups:

In [4]:
slp = data.variables['sst']
print(slp)

<class 'netCDF4._netCDF4.Variable'>
float32 sst(time, lat, lon)
    long_name: Monthly Means of Sea Surface Temperature
    units: degC
    _FillValue: -9.96921e+36
    missing_value: -9.96921e+36
    precision: 2
    least_significant_digit: 1
    var_desc: Sea Surface Temperature
    dataset: NOAA Extended Reconstructed SST V3b
    level_desc: Surface
    statistic: Mean
    parent_stat: Mean
    actual_range: [-1.8  33.95]
unlimited dimensions: time
current shape = (708, 89, 180)
filling off

In [5]:
slp[:]

masked_array(
  data=[[[-1.7999999523162842, -1.7999999523162842, -1.7999999523162842,
          ..., -1.7999999523162842, -1.7999999523162842,
          -1.7999999523162842],
         [-1.7999999523162842, -1.7999999523162842, -1.7999999523162842,
          ..., -1.7999999523162842, -1.7999999523162842,
          -1.7999999523162842],
         [-1.7999999523162842, -1.7999999523162842, -1.7999999523162842,
          ..., -1.7999999523162842, -1.7999999523162842,
          -1.7999999523162842],
         ...,
         [--, --, --, ..., --, --, --],
         [--, --, --, ..., --, --, --],
         [--, --, --, ..., --, --, --]],

        [[-1.7999999523162842, -1.7999999523162842, -1.7999999523162842,
          ..., -1.7999999523162842, -1.7999999523162842,
          -1.7999999523162842],
         [-1.7999999523162842, -1.7999999523162842, -1.7999999523162842,
          ..., -1.7999999523162842, -1.7999999523162842,
          -1.7999999523162842],
         [-1.7999999523162842, -1.7999999523162842, -1.7999999523162842,
          ..., -1.7999999523162842, -1.7999999523162842,
          -1.7999999523162842],
         ...,
         [--, --, --, ..., --, --, --],
         [--, --, --, ..., --, --, --],
         [--, --, --, ..., --, --, --]],

        [[-1.7999999523162842, -1.7999999523162842, -1.7999999523162842,
          ..., -1.7999999523162842, -1.7999999523162842,
          -1.7999999523162842],
         [-1.7999999523162842, -1.7999999523162842, -1.7999999523162842,
          ..., -1.7999999523162842, -1.7999999523162842,
          -1.7999999523162842],
         [-1.7999999523162842, -1.7999999523162842, -1.7999999523162842,
          ..., -1.7999999523162842, -1.7999999523162842,
          -1.7999999523162842],
         ...,
         [--, --, --, ..., --, --, --],
         [--, --, --, ..., --, --, --],
         [--, --, --, ..., --, --, --]],

        ...,

        [[-1.7999999523162842, -1.7999999523162842, -1.7999999523162842,
          ..., -1.7999999523162842, -1.7999999523162842,
          -1.7999999523162842],
         [-1.7999999523162842, -1.7999999523162842, -1.7999999523162842,
          ..., -1.7999999523162842, -1.7999999523162842,
          -1.7999999523162842],
         [-1.7999999523162842, -1.7999999523162842, -1.7999999523162842,
          ..., -1.7999999523162842, -1.7999999523162842,
          -1.7999999523162842],
         ...,
         [--, --, --, ..., --, --, --],
         [--, --, --, ..., --, --, --],
         [--, --, --, ..., --, --, --]],

        [[-1.75, -1.75, -1.7400000095367432, ..., -1.7599999904632568,
          -1.7599999904632568, -1.75],
         [-1.690000057220459, -1.690000057220459, -1.6699999570846558,
          ..., -1.7599999904632568, -1.7300000190734863,
          -1.7100000381469727],
         [-1.7300000190734863, -1.690000057220459, -1.6699999570846558,
          ..., -1.7999999523162842, -1.7799999713897705,
          -1.7599999904632568],
         ...,
         [--, --, --, ..., --, --, --],
         [--, --, --, ..., --, --, --],
         [--, --, --, ..., --, --, --]],

        [[-1.7799999713897705, -1.7699999809265137, -1.7699999809265137,
          ..., -1.7799999713897705, -1.7799999713897705,
          -1.7799999713897705],
         [-1.75, -1.75, -1.75, ..., -1.7699999809265137,
          -1.7599999904632568, -1.75],
         [-1.7400000095367432, -1.7300000190734863, -1.7300000190734863,
          ..., -1.7799999713897705, -1.7599999904632568, -1.75],
         ...,
         [--, --, --, ..., --, --, --],
         [--, --, --, ..., --, --, --],
         [--, --, --, ..., --, --, --]]],
  mask=[[[False, False, False, ..., False, False, False],
         [False, False, False, ..., False, False, False],
         [False, False, False, ..., False, False, False],
         ...,
         [ True,  True,  True, ...,  True,  True,  True],
         [ True,  True,  True, ...,  True,  True,  True],
         [ True,  True,  True, ...,  True,  True,  True]],

        [[False, False, False, ..., False, False, False],
         [False, False, False, ..., False, False, False],
         [False, False, False, ..., False, False, False],
         ...,
         [ True,  True,  True, ...,  True,  True,  True],
         [ True,  True,  True, ...,  True,  True,  True],
         [ True,  True,  True, ...,  True,  True,  True]],

        [[False, False, False, ..., False, False, False],
         [False, False, False, ..., False, False, False],
         [False, False, False, ..., False, False, False],
         ...,
         [ True,  True,  True, ...,  True,  True,  True],
         [ True,  True,  True, ...,  True,  True,  True],
         [ True,  True,  True, ...,  True,  True,  True]],

        ...,

        [[False, False, False, ..., False, False, False],
         [False, False, False, ..., False, False, False],
         [False, False, False, ..., False, False, False],
         ...,
         [ True,  True,  True, ...,  True,  True,  True],
         [ True,  True,  True, ...,  True,  True,  True],
         [ True,  True,  True, ...,  True,  True,  True]],

        [[False, False, False, ..., False, False, False],
         [False, False, False, ..., False, False, False],
         [False, False, False, ..., False, False, False],
         ...,
         [ True,  True,  True, ...,  True,  True,  True],
         [ True,  True,  True, ...,  True,  True,  True],
         [ True,  True,  True, ...,  True,  True,  True]],

        [[False, False, False, ..., False, False, False],
         [False, False, False, ..., False, False, False],
         [False, False, False, ..., False, False, False],
         ...,
         [ True,  True,  True, ...,  True,  True,  True],
         [ True,  True,  True, ...,  True,  True,  True],
         [ True,  True,  True, ...,  True,  True,  True]]],
  fill_value=-9.96921e+36,
  dtype=float32)

In [6]:
time = data.variables['time']
time_ = time[:]
time_units = time.units
time_calendar = time.calendar
time_dates = num2date(time_, units=time_units, calendar=time_calendar)
start_date = datetime.datetime(1958, 1, 1)
start_index = date2index(start_date, time, select='nearest')
slp_subset = data['olr'][start_index:, :, :]

In [7]:
data_ = np.array(slp_subset)
data_[data_ == -9.96921e+36] = np.nan

In [8]:
for date in time_dates:
    print(date)

1975-01-01 00:00:00
1975-02-01 00:00:00
1975-03-01 00:00:00
1975-04-01 00:00:00
1975-05-01 00:00:00
1975-06-01 00:00:00
1975-07-01 00:00:00
1975-08-01 00:00:00
1975-09-01 00:00:00
1975-10-01 00:00:00
1975-11-01 00:00:00
1975-12-01 00:00:00
1976-01-01 00:00:00
1976-02-01 00:00:00
1976-03-01 00:00:00
1976-04-01 00:00:00
1976-05-01 00:00:00
1976-06-01 00:00:00
1976-07-01 00:00:00
1976-08-01 00:00:00
1976-09-01 00:00:00
1976-10-01 00:00:00
1976-11-01 00:00:00
1976-12-01 00:00:00
1977-01-01 00:00:00
1977-02-01 00:00:00
1977-03-01 00:00:00
1977-04-01 00:00:00
1977-05-01 00:00:00
1977-06-01 00:00:00
1977-07-01 00:00:00
1977-08-01 00:00:00
1977-09-01 00:00:00
1977-10-01 00:00:00
1977-11-01 00:00:00
1977-12-01 00:00:00
1978-01-01 00:00:00
1978-02-01 00:00:00
1978-03-01 00:00:00
1978-04-01 00:00:00
1978-05-01 00:00:00
1978-06-01 00:00:00
1978-07-01 00:00:00
1978-08-01 00:00:00
1978-09-01 00:00:00
1978-10-01 00:00:00
1978-11-01 00:00:00
1978-12-01 00:00:00
1979-01-01 00:00:00
1979-02-01 00:00:00
1979-03-01 00:00:00
1979-04-01 00:00:00
1979-05-01 00:00:00
1979-06-01 00:00:00
1979-07-01 00:00:00
1979-08-01 00:00:00
1979-09-01 00:00:00
1979-10-01 00:00:00
1979-11-01 00:00:00
1979-12-01 00:00:00
1980-01-01 00:00:00
1980-02-01 00:00:00
1980-03-01 00:00:00
1980-04-01 00:00:00
1980-05-01 00:00:00
1980-06-01 00:00:00
1980-07-01 00:00:00
1980-08-01 00:00:00
1980-09-01 00:00:00
1980-10-01 00:00:00
1980-11-01 00:00:00
1980-12-01 00:00:00
1981-01-01 00:00:00
1981-02-01 00:00:00
1981-03-01 00:00:00
1981-04-01 00:00:00
1981-05-01 00:00:00
1981-06-01 00:00:00
1981-07-01 00:00:00
1981-08-01 00:00:00
1981-09-01 00:00:00
1981-10-01 00:00:00
1981-11-01 00:00:00
1981-12-01 00:00:00
1982-01-01 00:00:00
1982-02-01 00:00:00
1982-03-01 00:00:00
1982-04-01 00:00:00
1982-05-01 00:00:00
1982-06-01 00:00:00
1982-07-01 00:00:00
1982-08-01 00:00:00
1982-09-01 00:00:00
1982-10-01 00:00:00
1982-11-01 00:00:00
1982-12-01 00:00:00
1983-01-01 00:00:00
1983-02-01 00:00:00
1983-03-01 00:00:00
1983-04-01 00:00:00
1983-05-01 00:00:00
1983-06-01 00:00:00
1983-07-01 00:00:00
1983-08-01 00:00:00
1983-09-01 00:00:00
1983-10-01 00:00:00
1983-11-01 00:00:00
1983-12-01 00:00:00
1984-01-01 00:00:00
1984-02-01 00:00:00
1984-03-01 00:00:00
1984-04-01 00:00:00
1984-05-01 00:00:00
1984-06-01 00:00:00
1984-07-01 00:00:00
1984-08-01 00:00:00
1984-09-01 00:00:00
1984-10-01 00:00:00
1984-11-01 00:00:00
1984-12-01 00:00:00
1985-01-01 00:00:00
1985-02-01 00:00:00
1985-03-01 00:00:00
1985-04-01 00:00:00
1985-05-01 00:00:00
1985-06-01 00:00:00
1985-07-01 00:00:00
1985-08-01 00:00:00
1985-09-01 00:00:00
1985-10-01 00:00:00
1985-11-01 00:00:00
1985-12-01 00:00:00
1986-01-01 00:00:00
1986-02-01 00:00:00
1986-03-01 00:00:00
1986-04-01 00:00:00
1986-05-01 00:00:00
1986-06-01 00:00:00
1986-07-01 00:00:00
1986-08-01 00:00:00
1986-09-01 00:00:00
1986-10-01 00:00:00
1986-11-01 00:00:00
1986-12-01 00:00:00
1987-01-01 00:00:00
1987-02-01 00:00:00
1987-03-01 00:00:00
1987-04-01 00:00:00
1987-05-01 00:00:00
1987-06-01 00:00:00
1987-07-01 00:00:00
1987-08-01 00:00:00
1987-09-01 00:00:00
1987-10-01 00:00:00
1987-11-01 00:00:00
1987-12-01 00:00:00
1988-01-01 00:00:00
1988-02-01 00:00:00
1988-03-01 00:00:00
1988-04-01 00:00:00
1988-05-01 00:00:00
1988-06-01 00:00:00
1988-07-01 00:00:00
1988-08-01 00:00:00
1988-09-01 00:00:00
1988-10-01 00:00:00
1988-11-01 00:00:00
1988-12-01 00:00:00
1989-01-01 00:00:00
1989-02-01 00:00:00
1989-03-01 00:00:00
1989-04-01 00:00:00
1989-05-01 00:00:00
1989-06-01 00:00:00
1989-07-01 00:00:00
1989-08-01 00:00:00
1989-09-01 00:00:00
1989-10-01 00:00:00
1989-11-01 00:00:00
1989-12-01 00:00:00
1990-01-01 00:00:00
1990-02-01 00:00:00
1990-03-01 00:00:00
1990-04-01 00:00:00
1990-05-01 00:00:00
1990-06-01 00:00:00
1990-07-01 00:00:00
1990-08-01 00:00:00
1990-09-01 00:00:00
1990-10-01 00:00:00
1990-11-01 00:00:00
1990-12-01 00:00:00
1991-01-01 00:00:00
1991-02-01 00:00:00
1991-03-01 00:00:00
1991-04-01 00:00:00
1991-05-01 00:00:00
1991-06-01 00:00:00
1991-07-01 00:00:00
1991-08-01 00:00:00
1991-09-01 00:00:00
1991-10-01 00:00:00
1991-11-01 00:00:00
1991-12-01 00:00:00
1992-01-01 00:00:00
1992-02-01 00:00:00
1992-03-01 00:00:00
1992-04-01 00:00:00
1992-05-01 00:00:00
1992-06-01 00:00:00
1992-07-01 00:00:00
1992-08-01 00:00:00
1992-09-01 00:00:00
1992-10-01 00:00:00
1992-11-01 00:00:00
1992-12-01 00:00:00
1993-01-01 00:00:00
1993-02-01 00:00:00
1993-03-01 00:00:00
1993-04-01 00:00:00
1993-05-01 00:00:00
1993-06-01 00:00:00
1993-07-01 00:00:00
1993-08-01 00:00:00
1993-09-01 00:00:00
1993-10-01 00:00:00
1993-11-01 00:00:00
1993-12-01 00:00:00
1994-01-01 00:00:00
1994-02-01 00:00:00
1994-03-01 00:00:00
1994-04-01 00:00:00
1994-05-01 00:00:00
1994-06-01 00:00:00
1994-07-01 00:00:00
1994-08-01 00:00:00
1994-09-01 00:00:00
1994-10-01 00:00:00
1994-11-01 00:00:00
1994-12-01 00:00:00
1995-01-01 00:00:00
1995-02-01 00:00:00
1995-03-01 00:00:00
1995-04-01 00:00:00
1995-05-01 00:00:00
1995-06-01 00:00:00
1995-07-01 00:00:00
1995-08-01 00:00:00
1995-09-01 00:00:00
1995-10-01 00:00:00
1995-11-01 00:00:00
1995-12-01 00:00:00
1996-01-01 00:00:00
1996-02-01 00:00:00
1996-03-01 00:00:00
1996-04-01 00:00:00
1996-05-01 00:00:00
1996-06-01 00:00:00
1996-07-01 00:00:00
1996-08-01 00:00:00
1996-09-01 00:00:00
1996-10-01 00:00:00
1996-11-01 00:00:00
1996-12-01 00:00:00
1997-01-01 00:00:00
1997-02-01 00:00:00
1997-03-01 00:00:00
1997-04-01 00:00:00
1997-05-01 00:00:00
1997-06-01 00:00:00
1997-07-01 00:00:00
1997-08-01 00:00:00
1997-09-01 00:00:00
1997-10-01 00:00:00
1997-11-01 00:00:00
1997-12-01 00:00:00
1998-01-01 00:00:00
1998-02-01 00:00:00
1998-03-01 00:00:00
1998-04-01 00:00:00
1998-05-01 00:00:00
1998-06-01 00:00:00
1998-07-01 00:00:00
1998-08-01 00:00:00
1998-09-01 00:00:00
1998-10-01 00:00:00
1998-11-01 00:00:00
1998-12-01 00:00:00
1999-01-01 00:00:00
1999-02-01 00:00:00
1999-03-01 00:00:00
1999-04-01 00:00:00
1999-05-01 00:00:00
1999-06-01 00:00:00
1999-07-01 00:00:00
1999-08-01 00:00:00
1999-09-01 00:00:00
1999-10-01 00:00:00
1999-11-01 00:00:00
1999-12-01 00:00:00
2000-01-01 00:00:00
2000-02-01 00:00:00
2000-03-01 00:00:00
2000-04-01 00:00:00
2000-05-01 00:00:00
2000-06-01 00:00:00
2000-07-01 00:00:00
2000-08-01 00:00:00
2000-09-01 00:00:00
2000-10-01 00:00:00
2000-11-01 00:00:00
2000-12-01 00:00:00
2001-01-01 00:00:00
2001-02-01 00:00:00
2001-03-01 00:00:00
2001-04-01 00:00:00
2001-05-01 00:00:00
2001-06-01 00:00:00
2001-07-01 00:00:00
2001-08-01 00:00:00
2001-09-01 00:00:00
2001-10-01 00:00:00
2001-11-01 00:00:00
2001-12-01 00:00:00
2002-01-01 00:00:00
2002-02-01 00:00:00
2002-03-01 00:00:00
2002-04-01 00:00:00
2002-05-01 00:00:00
2002-06-01 00:00:00
2002-07-01 00:00:00
2002-08-01 00:00:00
2002-09-01 00:00:00
2002-10-01 00:00:00
2002-11-01 00:00:00
2002-12-01 00:00:00
2003-01-01 00:00:00
2003-02-01 00:00:00
2003-03-01 00:00:00
2003-04-01 00:00:00
2003-05-01 00:00:00
2003-06-01 00:00:00
2003-07-01 00:00:00
2003-08-01 00:00:00
2003-09-01 00:00:00
2003-10-01 00:00:00
2003-11-01 00:00:00
2003-12-01 00:00:00
2004-01-01 00:00:00
2004-02-01 00:00:00
2004-03-01 00:00:00
2004-04-01 00:00:00
2004-05-01 00:00:00
2004-06-01 00:00:00
2004-07-01 00:00:00
2004-08-01 00:00:00
2004-09-01 00:00:00
2004-10-01 00:00:00
2004-11-01 00:00:00
2004-12-01 00:00:00
2005-01-01 00:00:00
2005-02-01 00:00:00
2005-03-01 00:00:00
2005-04-01 00:00:00
2005-05-01 00:00:00
2005-06-01 00:00:00
2005-07-01 00:00:00
2005-08-01 00:00:00
2005-09-01 00:00:00
2005-10-01 00:00:00
2005-11-01 00:00:00
2005-12-01 00:00:00
2006-01-01 00:00:00
2006-02-01 00:00:00
2006-03-01 00:00:00
2006-04-01 00:00:00
2006-05-01 00:00:00
2006-06-01 00:00:00
2006-07-01 00:00:00
2006-08-01 00:00:00
2006-09-01 00:00:00
2006-10-01 00:00:00
2006-11-01 00:00:00
2006-12-01 00:00:00
2007-01-01 00:00:00
2007-02-01 00:00:00
2007-03-01 00:00:00
2007-04-01 00:00:00
2007-05-01 00:00:00
2007-06-01 00:00:00
2007-07-01 00:00:00
2007-08-01 00:00:00
2007-09-01 00:00:00
2007-10-01 00:00:00
2007-11-01 00:00:00
2007-12-01 00:00:00
2008-01-01 00:00:00
2008-02-01 00:00:00
2008-03-01 00:00:00
2008-04-01 00:00:00
2008-05-01 00:00:00
2008-06-01 00:00:00
2008-07-01 00:00:00
2008-08-01 00:00:00
2008-09-01 00:00:00
2008-10-01 00:00:00
2008-11-01 00:00:00
2008-12-01 00:00:00
2009-01-01 00:00:00
2009-02-01 00:00:00
2009-03-01 00:00:00
2009-04-01 00:00:00
2009-05-01 00:00:00
2009-06-01 00:00:00
2009-07-01 00:00:00
2009-08-01 00:00:00
2009-09-01 00:00:00
2009-10-01 00:00:00
2009-11-01 00:00:00
2009-12-01 00:00:00
2010-01-01 00:00:00
2010-02-01 00:00:00
2010-03-01 00:00:00
2010-04-01 00:00:00
2010-05-01 00:00:00
2010-06-01 00:00:00
2010-07-01 00:00:00
2010-08-01 00:00:00
2010-09-01 00:00:00
2010-10-01 00:00:00
2010-11-01 00:00:00
2010-12-01 00:00:00
2011-01-01 00:00:00
2011-02-01 00:00:00
2011-03-01 00:00:00
2011-04-01 00:00:00
2011-05-01 00:00:00
2011-06-01 00:00:00
2011-07-01 00:00:00
2011-08-01 00:00:00
2011-09-01 00:00:00
2011-10-01 00:00:00
2011-11-01 00:00:00
2011-12-01 00:00:00
2012-01-01 00:00:00
2012-02-01 00:00:00
2012-03-01 00:00:00
2012-04-01 00:00:00
2012-05-01 00:00:00
2012-06-01 00:00:00
2012-07-01 00:00:00
2012-08-01 00:00:00
2012-09-01 00:00:00
2012-10-01 00:00:00
2012-11-01 00:00:00
2012-12-01 00:00:00
2013-01-01 00:00:00
2013-02-01 00:00:00
2013-03-01 00:00:00
2013-04-01 00:00:00
2013-05-01 00:00:00
2013-06-01 00:00:00
2013-07-01 00:00:00
2013-08-01 00:00:00
2013-09-01 00:00:00
2013-10-01 00:00:00
2013-11-01 00:00:00
2013-12-01 00:00:00
2014-01-01 00:00:00
2014-02-01 00:00:00
2014-03-01 00:00:00
2014-04-01 00:00:00
2014-05-01 00:00:00
2014-06-01 00:00:00
2014-07-01 00:00:00
2014-08-01 00:00:00
2014-09-01 00:00:00
2014-10-01 00:00:00
2014-11-01 00:00:00
2014-12-01 00:00:00
2015-01-01 00:00:00
2015-02-01 00:00:00
2015-03-01 00:00:00
2015-04-01 00:00:00
2015-05-01 00:00:00
2015-06-01 00:00:00
2015-07-01 00:00:00
2015-08-01 00:00:00
2015-09-01 00:00:00
2015-10-01 00:00:00
2015-11-01 00:00:00
2015-12-01 00:00:00
2016-01-01 00:00:00
2016-02-01 00:00:00
2016-03-01 00:00:00
2016-04-01 00:00:00
2016-05-01 00:00:00
2016-06-01 00:00:00
2016-07-01 00:00:00
2016-08-01 00:00:00
2016-09-01 00:00:00
2016-10-01 00:00:00
2016-11-01 00:00:00
2016-12-01 00:00:00

In [9]:
data_

array([[[158.56613 , 158.56613 , 158.56613 , ..., 158.56613 ,
         158.56613 , 158.56613 ],
        [154.26225 , 154.61967 , 154.98161 , ..., 153.15451 ,
         153.51903 , 153.8971  ],
        [155.71838 , 156.23355 , 156.74838 , ..., 154.02419 ,
         154.60258 , 155.16644 ],
        ...,
        [169.41386 , 169.01451 , 168.63322 , ..., 170.50354 ,
         170.15709 , 169.78741 ],
        [166.87967 , 166.66484 , 166.43387 , ..., 167.56194 ,
         167.33806 , 167.12741 ],
        [162.58258 , 162.58258 , 162.58258 , ..., 162.58258 ,
         162.58258 , 162.58258 ]],

       [[158.03749 , 158.03749 , 158.03749 , ..., 158.03749 ,
         158.03749 , 158.03749 ],
        [158.29214 , 158.42964 , 158.56607 , ..., 157.80107 ,
         157.98607 , 158.13928 ],
        [162.1275  , 162.51428 , 162.88821 , ..., 160.96356 ,
         161.35785 , 161.75179 ],
        ...,
        [150.4432  , 149.90143 , 149.36856 , ..., 151.98714 ,
         151.4907  , 150.98535 ],
        [148.82036 , 148.55286 , 148.27428 , ..., 149.62607 ,
         149.3657  , 149.09572 ],
        [144.265   , 144.265   , 144.265   , ..., 144.265   ,
         144.265   , 144.265   ]],

       [[160.49644 , 160.49644 , 160.49644 , ..., 160.49644 ,
         160.49644 , 160.49644 ],
        [157.15291 , 157.30968 , 157.45903 , ..., 156.67548 ,
         156.83936 , 156.9958  ],
        [158.3016  , 158.47742 , 158.61838 , ..., 157.69032 ,
         157.91452 , 158.12549 ],
        ...,
        [139.45226 , 138.42805 , 137.36128 , ..., 142.37581 ,
         141.4387  , 140.4742  ],
        [135.20967 , 134.72    , 134.1958  , ..., 136.66386 ,
         136.2     , 135.71193 ],
        [126.535484, 126.535484, 126.535484, ..., 126.535484,
         126.535484, 126.535484]],

       ...,

       [[185.90323 , 185.90323 , 185.90323 , ..., 185.90323 ,
         185.90323 , 185.90323 ],
        [190.70161 , 190.70161 , 190.70161 , ..., 190.5242  ,
         190.5242  , 190.5242  ],
        [190.54839 , 190.54839 , 190.54839 , ..., 189.01613 ,
         189.01613 , 189.01613 ],
        ...,
        [127.16129 , 127.16129 , 127.16129 , ..., 130.32259 ,
         130.32259 , 130.32259 ],
        [126.33871 , 126.33871 , 126.33871 , ..., 127.82258 ,
         127.82258 , 127.82258 ],
        [121.435486, 121.435486, 121.435486, ..., 121.435486,
         121.435486, 121.435486]],

       [[186.85    , 186.85    , 186.85    , ..., 186.85    ,
         186.85    , 186.85    ],
        [186.88333 , 186.88333 , 186.88333 , ..., 186.06667 ,
         186.06667 , 186.06667 ],
        [189.8     , 189.8     , 189.8     , ..., 188.13333 ,
         188.13333 , 188.13333 ],
        ...,
        [155.31667 , 155.31667 , 155.31667 , ..., 157.68333 ,
         157.68333 , 157.68333 ],
        [156.45833 , 156.45833 , 156.45833 , ..., 157.88333 ,
         157.88333 , 157.88333 ],
        [152.21666 , 152.21666 , 152.21666 , ..., 152.21666 ,
         152.21666 , 152.21666 ]],

       [[172.19354 , 172.19354 , 172.19354 , ..., 172.19354 ,
         172.19354 , 172.19354 ],
        [173.98387 , 173.98387 , 173.98387 , ..., 174.20161 ,
         174.20161 , 174.20161 ],
        [174.5     , 174.5     , 174.5     , ..., 174.98387 ,
         174.98387 , 174.98387 ],
        ...,
        [172.83871 , 172.83871 , 172.83871 , ..., 174.74193 ,
         174.74193 , 174.74193 ],
        [172.17741 , 172.17741 , 172.17741 , ..., 173.16129 ,
         173.16129 , 173.16129 ],
        [167.62903 , 167.62903 , 167.62903 , ..., 167.62903 ,
         167.62903 , 167.62903 ]]], dtype=float32)

In [10]:
data_.shape

(504, 73, 144)

In [11]:
len(data_)

504

In [12]:
num_years = data_.shape[0] // 12
num_months = data_.shape[0] // num_years

In [13]:
num_years

42

In [14]:
num_months

12

In [217]:
import numpy as np

# Assuming you have a numpy array named 'data' of shape (504, 73, 144)

# Reshape the data to have time and month dimensions separately
data_reshaped = np.reshape(data_, (len(data_) // 12, 12, 1,73, 144))

# Calculate the mean for each month across all years
mean_by_month = np.nanmean(data_reshaped, axis=(0, 2, 3,4))

# Print the mean for each month
for month, mean in enumerate(mean_by_month):
    print(f"Month {month + 1}: {mean}")

Month 1: 11734.591796875
Month 2: 11732.9697265625
Month 3: 11727.4912109375
Month 4: 11743.810546875
Month 5: 11778.158203125
Month 6: 11816.0263671875
Month 7: 11832.8603515625
Month 8: 11811.6240234375
Month 9: 11763.8037109375
Month 10: 11721.263671875
Month 11: 11709.9921875
Month 12: 11723.125

In [190]:
import numpy as np

# Assuming you have a numpy array named 'data' of shape (504, 73, 144)

# Reshape the data to have time and month dimensions separately
data_reshaped = np.reshape(data_, (len(data_) // 12, 12, 94, 192))

# Calculate the mean for each month across all years
mean_by_month = np.nanmean(data_reshaped, axis=(0, 2, 3))

# Print the mean for each month
for month, mean in enumerate(mean_by_month):
    print(f"Month {month + 1}: {mean}")

Month 1: 277.0301513671875
Month 2: 276.1821594238281
Month 3: 275.8063049316406
Month 4: 276.8177185058594
Month 5: 278.6324157714844
Month 6: 279.99237060546875
Month 7: 280.246337890625
Month 8: 279.8767395019531
Month 9: 278.6800537109375
Month 10: 277.7052917480469
Month 11: 277.4660949707031
Month 12: 277.42205810546875

In [84]:
# Assuming you have a numpy array named 'data' of shape (504, 73, 144)

# Reshape the data to have time and month dimensions separately
data_reshaped = np.reshape(data_, (len(data_) // 12, 12,1, 73, 144))

# Calculate the mean for each month across all years
std_by_month = np.nanstd(data_reshaped, axis=(0, 2, 3,4))

# Print the mean for each month
for month, std in enumerate(std_by_month):
    print(f"Month {month + 1}: {std}")

Month 1: 552.1154174804688
Month 2: 562.3341674804688
Month 3: 566.6954345703125
Month 4: 555.2682495117188
Month 5: 557.6992797851562
Month 6: 582.6400756835938
Month 7: 622.8231811523438
Month 8: 637.6592407226562
Month 9: 629.4325561523438
Month 10: 610.1093139648438
Month 11: 573.61865234375
Month 12: 552.0125732421875

In [191]:
# Assuming you have a numpy array named 'data' of shape (504, 73, 144)

# Reshape the data to have time and month dimensions separately
data_reshaped = np.reshape(data_, (len(data_) // 12, 12, 94, 192))

# Calculate the mean for each month across all years
std_by_month = np.nanstd(data_reshaped, axis=(0, 2, 3))

# Print the mean for each month
for month, std in enumerate(std_by_month):
    print(f"Month {month + 1}: {std}")

Month 1: 20.02337074279785
Month 2: 21.56993865966797
Month 3: 23.133079528808594
Month 4: 23.10040855407715
Month 5: 22.382976531982422
Month 6: 22.333133697509766
Month 7: 22.986806869506836
Month 8: 23.201719284057617
Month 9: 22.721628189086914
Month 10: 21.00868034362793
Month 11: 19.546754837036133
Month 12: 19.343406677246094

In [272]:
import numpy as np

# Assuming you have a numpy array named 'data' of shape (504, 73, 144)

# Reshape the data to have time and month dimensions separately
data_reshaped = np.reshape(data_, (len(data_) // 12, 12, 1,73, 144))

# Calculate the mean and standard deviation for each month of all years
mean_all_months = np.nanmean(data_reshaped, axis=(0, 2, 3,4))
std_all_months = np.nanstd(data_reshaped, axis=(0, 2, 3,4))

# Normalize the data for each month
normalized_data = np.empty_like(data_)
for month in range(12):
    month_data = data_reshaped[:, month]
    month_mean = mean_all_months[month]
    month_std = std_all_months[month]
    normalized_month_data = (month_data - month_mean) 
    normalized_data = np.reshape(normalized_month_data, (len(data_) // 12,1, 73, 144))
    #normalized_data[:, month] = np.repeat(normalized_month_data,12,axis =0)

# Print the shape of the normalized data
print(normalized_data.shape)

(59, 1, 73, 144)

In [28]:
import numpy as np

# Assuming you have a numpy array named 'data' of shape (504, 73, 144)

# Reshape the data to have time and month dimensions separately
data_reshaped = np.reshape(data_, (len(data_) // 12, 12, 73, 144))

# Calculate the mean and standard deviation for each month of all years
mean_all_months = np.nanmean(data_reshaped, axis=(0, 2, 3))
std_all_months = np.nanstd(data_reshaped, axis=(0, 2, 3))

# Normalize the data for each month
normalized_data = np.empty_like(data_)
for month in range(12):
    month_data = data_reshaped[:, month]
    month_mean = mean_all_months[month]
    month_std = std_all_months[month]
    normalized_month_data = (month_data - month_mean)/month_std
    normalized_data = np.reshape(normalized_month_data, (len(data_) // 12, 73, 144))
    #normalized_data[:, month] = np.repeat(normalized_month_data,12,axis =0)

# Print the shape of the normalized data
print(normalized_data.shape)

(42, 73, 144)

In [29]:
normalized_data

array([[[-1.4954715, -1.4954715, -1.4954715, ..., -1.4954715,
         -1.4954715, -1.4954715],
        [-1.5805769, -1.5820563, -1.5836688, ..., -1.5769355,
         -1.5779366, -1.5790707],
        [-1.5092303, -1.5158039, -1.5231131, ..., -1.4938588,
         -1.4981732, -1.5031347],
        ...,
        [-1.1492993, -1.1568922, -1.1644671, ..., -1.1278856,
         -1.1348934, -1.1424243],
        [-1.1669211, -1.1704825, -1.1740179, ..., -1.1568122,
         -1.160179 , -1.1636075],
        [-1.2706493, -1.2706493, -1.2706493, ..., -1.2706493,
         -1.2706493, -1.2706493]],

       [[-1.5478228, -1.5478228, -1.5478228, ..., -1.5478228,
         -1.5478228, -1.5478228],
        [-1.5057305, -1.5019919, -1.4981292, ..., -1.5171329,
         -1.513279 , -1.5091062],
        [-1.4483824, -1.4403645, -1.4327892, ..., -1.475732 ,
         -1.4656233, -1.4569232],
        ...,
        [-1.0688896, -1.0709448, -1.0727787, ..., -1.0627853,
         -1.064752 , -1.0667632],
        [-1.0930672, -1.0959115, -1.0990654, ..., -1.0850406,
         -1.0873795, -1.0905159],
        [-1.188184 , -1.188184 , -1.188184 , ..., -1.188184 ,
         -1.188184 , -1.188184 ]],

       [[-1.4767154, -1.4767154, -1.4767154, ..., -1.4767154,
         -1.4767154, -1.4767154],
        [-1.5261611, -1.5198795, -1.5133058, ..., -1.5454571,
         -1.5388126, -1.5324422],
        [-1.4767154, -1.4679974, -1.4596162, ..., -1.5095135,
         -1.4976243, -1.4865673],
        ...,
        [-1.2427328, -1.2456919, -1.248669 , ..., -1.2344316,
         -1.2373728, -1.2399069],
        [-1.2495902, -1.2508307, -1.2522128, ..., -1.2454618,
         -1.2471008, -1.2481108],
        [-1.3585811, -1.3585811, -1.3585811, ..., -1.3585811,
         -1.3585811, -1.3585811]],

       ...,

       [[-1.1602675, -1.1602675, -1.1602675, ..., -1.1602675,
         -1.1602675, -1.1602675],
        [-1.1487498, -1.1487498, -1.1487498, ..., -1.1974779,
         -1.1974779, -1.1974779],
        [-1.1102104, -1.1102104, -1.1102104, ..., -1.1735569,
         -1.1735569, -1.1735569],
        ...,
        [-1.1593815, -1.1593815, -1.1593815, ..., -1.1301448,
         -1.1301448, -1.1301448],
        [-1.1890612, -1.1890612, -1.1890612, ..., -1.1771007,
         -1.1771007, -1.1771007],
        [-1.3223985, -1.3223985, -1.3223985, ..., -1.3223985,
         -1.3223985, -1.3223985]],

       [[-1.4189684, -1.4189684, -1.4189684, ..., -1.4189684,
         -1.4189684, -1.4189684],
        [-1.4096657, -1.4096657, -1.4096657, ..., -1.4293784,
         -1.4293784, -1.4293784],
        [-1.3383458, -1.3383458, -1.3383458, ..., -1.3339162,
         -1.3339162, -1.3339162],
        ...,
        [-1.2829732, -1.2829732, -1.2829732, ..., -1.260824 ,
         -1.260824 , -1.260824 ],
        [-1.2610457, -1.2610457, -1.2610457, ..., -1.259938 ,
         -1.259938 , -1.259938 ],
        [-1.3534071, -1.3534071, -1.3534071, ..., -1.3534071,
         -1.3534071, -1.3534071]],

       [[-1.1000222, -1.1000222, -1.1000222, ..., -1.1000222,
         -1.1000222, -1.1000222],
        [-1.0508511, -1.0508511, -1.0508511, ..., -1.0448709,
         -1.0448709, -1.0448709],
        [-1.0366758, -1.0366758, -1.0366758, ..., -1.0233864,
         -1.0233864, -1.0233864],
        ...,
        [-1.0823027, -1.0823027, -1.0823027, ..., -1.0300312,
         -1.0300312, -1.0300312],
        [-1.1004652, -1.1004652, -1.1004652, ..., -1.0734433,
         -1.0734433, -1.0734433],
        [-1.2253858, -1.2253858, -1.2253858, ..., -1.2253858,
         -1.2253858, -1.2253858]]], dtype=float32)

In [30]:
mean_all_months

array([211.85315, 210.96767, 210.94102, 213.08684, 216.49898, 219.5602 ,
       220.3634 , 219.26501, 216.97202, 213.86487, 212.38545, 212.24559],
      dtype=float32)

In [31]:
std_all_months

array([37.82581 , 40.537125, 42.262165, 41.617386, 41.15169 , 42.63026 ,
       44.386276, 44.86248 , 44.00041 , 41.109894, 37.51078 , 36.410217],
      dtype=float32)

In [32]:
month_data[0]

array([[157.79515, 157.79515, 157.79515, ..., 157.79515, 157.79515,
        157.79515],
       [154.69644, 154.64258, 154.58386, ..., 154.82903, 154.79257,
        154.75128],
       [157.29419, 157.05484, 156.78871, ..., 157.85387, 157.69678,
        157.51613],
       ...,
       [170.39935, 170.1229 , 169.84709, ..., 171.17903, 170.92387,
        170.64967],
       [169.75774, 169.62807, 169.49934, ..., 170.12581, 170.00322,
        169.87839],
       [165.98097, 165.98097, 165.98097, ..., 165.98097, 165.98097,
        165.98097]], dtype=float32)

In [33]:
positive_count = np.sum(normalized_data > 0)
negative_count = np.sum(normalized_data < 0)

print("Number of positive numbers:", positive_count)
print("Number of negative numbers:", negative_count)

Number of positive numbers: 200505
Number of negative numbers: 230487

In [34]:
lat = data.variables['lat']
latitude = lat[:]

In [35]:
lon = data.variables['lon']
longitude = lon[:]

In [36]:
lat_avg_size = data_.shape[1] // 18
lon_avg_size = data_.shape[2] // 18

# Calculate the number of latitude and longitude divisions for averaging
lat_divisions = 18
lon_divisions = 18
# Create an empty array to store the averaged data
averaged_data = np.zeros((lat_divisions, lon_divisions))
# if lon_divisions > 18:
#     lon_avg_size += 1
#     lon_divisions = longitude.size // lon_avg_size
# Iterate over latitude and longitude ranges
for lat_idx in range(lat_divisions):
    for lon_idx in range(lon_divisions):
        lat_range_start = lat_idx * lat_avg_size
        lat_range_end = (lat_idx + 1) * lat_avg_size
        lon_range_start = lon_idx * lon_avg_size
        lon_range_end = (lon_idx + 1) * lon_avg_size

        # Extract the subset of data
        subset = normalized_data[:, lat_range_start:lat_range_end, lon_range_start:lon_range_end]

        # Calculate the average along the latitude, longitude, and time dimensions
        averaged_subset = np.nanmean(subset)

        # Store the averaged data
        averaged_data[lat_idx, lon_idx] = averaged_subset

print(averaged_data)

[[-1.30308306 -1.28830063 -1.282359   -1.30349457 -1.32297421 -1.34443796
  -1.34706414 -1.35396504 -1.36737978 -1.38119781 -1.39427519 -1.40750468
  -1.4192189  -1.43831742 -1.43927717 -1.4507246  -1.41633022 -1.35337889]
 [-0.62756872 -0.67097849 -0.75557435 -0.96439427 -1.23330462 -1.33347392
  -1.25850546 -1.25049531 -1.22847712 -1.1885041  -1.22870958 -1.30496657
  -1.39555931 -1.40112066 -1.22406411 -1.6520642  -1.72128654 -0.93573594]
 [-0.48700806 -0.66215348 -0.76498085 -1.1113801  -1.34941232 -1.55850184
  -1.64272869 -1.56459844 -1.26777315 -0.83830762 -1.12493122 -1.13912582
  -1.2247988  -1.23744202 -1.07686353 -1.1177665  -0.9350611  -0.51220691]
 [-0.23672622 -0.46035516 -0.71553582 -0.87096554 -1.06834483 -1.18749249
  -1.31548738 -0.73789626 -0.53371441 -0.40056172 -0.38759398 -0.71960431
  -0.90280372 -0.92255831 -0.94935179 -0.58992279 -0.28450513 -0.15754929]
 [-0.0773229  -0.24846768 -0.30478117 -0.50746936 -0.7314471  -0.71190166
  -0.65642631 -0.3672418  -0.26850078 -0.19267359 -0.20332946 -0.19056158
  -0.61290371 -0.53557891 -0.55593252 -0.34408733  0.00219977  0.18444608]
 [ 0.62172347  0.41634819  0.19933729 -0.13133985 -0.56587404 -0.04923073
   0.28679556  0.22619955  0.22517714  0.16840756  0.14016666  0.44481072
   0.14657357  0.06947947  0.28183761  0.39255515  0.53051299  0.6183024 ]
 [ 1.08514464  1.24588287  1.2065115   1.4220295   0.93784809  0.666493
   0.84761775  1.11576843  1.28795946  1.12279832  0.98230147  0.89772779
   0.89273852  0.95782822  1.25498557  1.21715045  1.10204542  1.1011883 ]
 [ 1.64948404  1.87739933  1.81309581  1.720438    1.46248567  1.15873313
   0.97947562  1.44445682  1.64248729  1.50421166  1.18438888  0.81710136
   0.98174     1.38673759  1.51496744  1.43339562  1.08015764  1.15569723]
 [ 1.30947077  1.37892127  1.57002163  0.96222633  0.43024334  0.0780291
   0.41296452  0.40758488  0.57002169  0.77622002  0.88659996  0.86923218
   1.06021988  1.19623923  0.74529767  0.93900079  0.50546372  1.07555461]
 [ 0.55572945  0.12152997  1.19798076  0.67134929  0.25752795 -0.47349945
  -0.11990477 -0.11117671  0.20084256  0.81867981  1.5086031   1.70333934
   1.64729905  1.48151922 -0.00248039  0.36013916  1.41020203  1.49062288]
 [ 0.97035801 -0.04567884  0.94361609  1.11682892  1.19903207  1.1176542
   0.52214378  0.84100288  0.59311277  0.38535219  0.66423321  1.34848392
   1.51242435  1.36766171  0.23571417 -0.11340288  1.33355689  1.49139929]
 [ 1.48384416  0.97438133  1.09110558  1.36317801  1.39890945  1.61300993
   1.52033472  1.32481706  1.10867167  0.89511985  0.55409122  0.66965437
   1.21247458  1.26031327  1.0943557   0.56564832  0.87069106  1.3779496 ]
 [ 1.13348806  1.09530663  0.89928567  0.85967535  0.95089817  1.09664357
   1.10841238  1.06344533  0.79579377  0.77055728  0.61485553  0.44588953
   0.68689913  0.96728063  1.20476866  0.89481574  0.57668114  0.75638205]
 [ 0.215151    0.27684662  0.19653665  0.21556994  0.25483254  0.33263752
   0.38921264  0.44851303  0.37743884  0.44787273  0.40764037  0.33152297
   0.31116977  0.38357991  0.5428068   0.47315615  0.23822325  0.145564  ]
 [-0.31327787 -0.32115859 -0.29837143 -0.27865133 -0.24531323 -0.16715302
  -0.1029361  -0.02374106  0.04632276  0.09435611  0.03697872 -0.01187413
   0.00792749  0.00732519 -0.11518912 -0.07210267 -0.22840613 -0.29452243]
 [-0.46547541 -0.46246493 -0.49945971 -0.44526365 -0.50012046 -0.49579805
  -0.49018303 -0.37693462 -0.32331154 -0.30607143 -0.32901996 -0.34274679
  -0.3086063  -0.28823689 -0.36298513 -0.40191561 -0.4336451  -0.46185881]
 [-1.05641448 -1.13576281 -1.30393076 -0.9259091  -1.37184715 -1.40325689
  -1.32810056 -1.06640816 -0.4811635  -0.40585187 -0.46998531 -0.60764402
  -0.56853223 -0.61202496 -0.61542296 -0.49989301 -0.46880174 -0.73613936]
 [-1.16203558 -1.26252091 -1.42190349 -1.48948038 -1.50544846 -1.40035892
  -1.24594426 -1.08218777 -0.82217276 -0.72531796 -0.68116695 -0.77628112
  -0.98693663 -0.9836061  -0.76793683 -0.77387083 -0.86580342 -1.03086388]]

In [280]:
lat_avg_size = data_.shape[2] // 18
lon_avg_size = data_.shape[3] // 18
#level_avg_size = 1
# Calculate the number of latitude and longitude divisions for averaging
lat_divisions = 18
lon_divisions = 18
#level_divisions = data.shape[1] // level_avg_size
# Adjust longitude divisions to get 18 divisions
# if lon_divisions > 18:
#     lon_avg_size += 1
#     lon_divisions = longitude.size // lon_avg_size
# if lon_divisions > lat_divisions:
#     lon_divisions = lat_divisions

# Create an empty array to store the averaged data
averaged_data = np.zeros((lat_divisions, lon_divisions))

# Iterate over latitude and longitude ranges
for lat_idx in range(lat_divisions):
    for lon_idx in range(lon_divisions):
        lat_range_start = lat_idx * lat_avg_size
        lat_range_end = (lat_idx + 1) * lat_avg_size
        lon_range_start = lon_idx * lon_avg_size
        lon_range_end = (lon_idx + 1) * lon_avg_size

        # Extract the subset of data
        subset = normalized_data[:,0, lat_range_start:lat_range_end, lon_range_start:lon_range_end]

        # Calculate the average along the latitude, longitude, and time dimensions
        averaged_subset = np.mean(subset, axis=(0, 1, 2))

        # Store the averaged data
        averaged_data[lat_idx, lon_idx] = averaged_subset

In [24]:
averaged_data.shape

(18, 18)

In [25]:
averaged_data

array([[-47.44553757, -46.90730286, -46.69097137, -47.4605217 ,
        -48.1697731 , -48.95127487, -49.04689789, -49.29815674,
        -49.78660202, -50.28970718, -50.76586151, -51.24755096,
        -51.67407227, -52.36944962, -52.40439987, -52.82120132,
        -51.56888962, -49.27681732],
       [-22.84991264, -24.43047142, -27.51062965, -35.11380386,
        -44.90489197, -48.55207443, -45.82245636, -45.53080368,
        -44.72911835, -43.27369308, -44.73758316, -47.51412201,
        -50.81261826, -51.0151062 , -44.56843567, -60.15201569,
        -62.67240906, -34.07034683],
       [-17.73207092, -24.10915184, -27.85312271, -40.46559525,
        -49.1323967 , -56.74539185, -59.81211472, -56.96737289,
        -46.15989304, -30.52296638, -40.95898819, -41.47581863,
        -44.59519196, -45.05553055, -39.2088356 , -40.6981163 ,
        -34.04578018, -18.64956665],
       [ -8.61925411, -16.7616291 , -26.05281448, -31.71204567,
        -38.89866257, -43.23686218, -47.89718246, -26.86696434,
        -19.43265533, -14.58454132, -14.11237907, -26.2009449 ,
        -32.87128067, -33.59054565, -34.56610489, -21.47921562,
        -10.35889339,  -5.73640394],
       [ -2.81534362,  -9.04676151, -11.0971489 , -18.47706985,
        -26.63214493, -25.92049408, -23.90062523, -13.3713541 ,
         -9.77617073,  -7.01528788,  -7.40326977,  -6.93838882,
        -22.31595612, -19.5005455 , -20.24162483, -12.52829456,
          0.08009417,   6.71572113],
       [ 22.63708496,  15.15932846,   7.25791359,  -4.78211212,
        -20.60359573,  -1.79250145,  10.44228935,   8.23597527,
          8.19874859,   6.13175583,   5.10349846,  16.19565582,
          5.3367753 ,   2.52976274,  10.26176834,  14.29301834,
         19.31609154,  22.51252556],
       [ 39.51034927,  45.36286545,  43.92934799,  51.77640152,
         34.14725113,  24.26715469,  30.86194801,  40.62537384,
         46.8948822 ,  40.8813324 ,  35.76580811,  32.6864624 ,
         32.5048027 ,  34.87473297,  45.69429398,  44.31671143,
         40.12571335,  40.0945015 ],
       [ 60.05807114,  68.35652161,  66.01520538,  62.64152527,
         53.24942398,  42.18972778,  35.66291809,  52.59298706,
         59.80332565,  54.76867294,  43.12385559,  29.75083923,
         35.74536896,  50.49142075,  55.16029358,  52.1902504 ,
         39.3287735 ,  42.0791893 ],
       [ 47.67811584,  50.20682144,  57.16482544,  35.03487015,
         15.66525364,   2.84105659,  15.03612709,  14.84025192,
         20.75461578,  28.26233864,  32.28129578,  31.6489315 ,
         38.60283279,  43.55533218,  27.13645172,  34.18921661,
         18.4040432 ,  39.16117477],
       [ 20.23423195,   4.42493248,  43.61873627,  24.44397354,
          9.3766489 , -17.24021721,  -4.3657589 ,  -4.04796839,
          7.31272125,  29.80831337,  54.92856216,  62.01895905,
         59.97852325,  53.94244385,  -0.09031156,  13.11274529,
         51.34576416,  54.27390289],
       [ 35.33094788,  -1.66317654,  34.35726547,  40.66398621,
         43.65701675,  40.69403076,  19.01136971,  30.62109756,
         21.59536362,  14.030756  ,  24.1848774 ,  49.09859467,
         55.06769943,  49.79685974,   8.58240414,  -4.12902403,
         48.55509567,  54.30217361],
       [ 54.02708054,  35.47743607,  39.72739029,  49.63360977,
         50.93460083,  58.7300415 ,  55.35572052,  48.23687744,
         40.36697388,  32.59150696,  20.17458344,  24.38226318,
         44.1464653 ,  45.88827896,  39.84572983,  20.59537888,
         31.70205307,  50.17144775],
       [ 41.27054214,  39.88034821,  32.74318695,  31.30096626,
         34.62240601,  39.92903137,  40.35753632,  38.72027588,
         28.97501945,  28.05615807,  22.38702393,  16.23493385,
         25.01014709,  35.21889877,  43.8658905 ,  32.58043671,
         20.99708557,  27.54003334],
       [  7.83369398,  10.0800457 ,   7.15594196,   7.84894848,
          9.27850819,  12.11140442,  14.17131519,  16.33045769,
         13.74263096,  16.30714226,  14.84227371,  12.07082272,
         11.3297596 ,  13.96622849,  19.76371384,  17.22772026,
          8.67376137,   5.30001736],
       [-11.40651512, -11.69345379, -10.86376762, -10.14575481,
         -8.9319067 ,  -6.08607721,  -3.74792552,  -0.86441702,
          1.68662167,   3.43552685,   1.34640312,  -0.43233964,
          0.28864154,   0.26671192,  -4.19406128,  -2.62527394,
         -8.3163166 , -10.72362614],
       [-16.9480629 , -16.83844757, -18.18543625, -16.21214867,
        -18.20949554, -18.05211449, -17.84767151, -13.72426987,
        -11.77184391, -11.14412689, -11.97968864, -12.47948456,
        -11.23642349, -10.49476719, -13.21636772, -14.63383484,
        -15.78911209, -16.81637955],
       [-38.46427917, -41.35337448, -47.47639847, -33.71255112,
        -49.94925308, -51.09289169, -48.35642624, -38.8281517 ,
        -17.51926613, -14.77715492, -17.11226654, -22.12445068,
        -20.70038414, -22.28396034, -22.40768433, -18.20121384,
        -17.06917191, -26.80299568],
       [-42.30996704, -45.96866226, -51.77181244, -54.23230362,
        -54.81370163, -50.98736954, -45.36510086, -39.40269089,
        -29.93548775, -26.40898323, -24.80143547, -28.26456451,
        -35.93457794, -35.81330872, -27.96074486, -28.1768055 ,
        -31.52408981, -37.53397751]])

In [26]:
positive_count = np.sum(averaged_data > 0)
negative_count = np.sum(averaged_data < 0)

print("Number of positive numbers:", positive_count)
print("Number of negative numbers:", negative_count)

Number of positive numbers: 160
Number of negative numbers: 164

In [27]:
import numpy as np
import csv

# Assuming you have the 18x18 data stored in the variable 'data'
flattened_data = averaged_data.flatten()

# Specify the output CSV file path
output_file = 'olr.csv'

# Define the header row
header = ['olr']

# Write the flattened data to the CSV file with the header row
with open(output_file, 'w', newline='') as file:
    writer = csv.writer(file)
    writer.writerow(header)  # Write the header row
    writer.writerows(zip(flattened_data))

In [104]:
import csv

# Flatten the averaged_data array and transpose it
flattened_data = averaged_data.flatten()
flattened_data = flattened_data.reshape(-1, 1)  # Transpose the flattened_data

# Define the path to the existing CSV file
csv_file_path = 'airT.csv'

# Define the header for the CSV file
header = ['hgt']  # Replace with actual column names

# Save the flattened data to the CSV file with header
with open(csv_file_path, 'w', newline='') as csvfile:
    writer = csv.writer(csvfile)
    writer.writerow(header)
    writer.writerows(flattened_data)

In [ ]:
# import csv

# csv_file_path = 'airT.csv'
# new_column_header = 'new_column'
# new_column_data = ['data1', 'data2', 'data3']  # Replace with your actual data

# # Read the existing data from the CSV file
# existing_data = []
# with open(csv_file_path, 'r') as csvfile:
#     reader = csv.reader(csvfile)
#     existing_data = list(reader)

# # Modify the data by adding the new column
# header = existing_data[0]
# header.append(new_column_header)  # Add the new column header to the header row
# for i in range(1, len(existing_data)):
#     existing_data[i].append(new_column_data[i - 1])  # Add the corresponding data to each row

# # Write the modified data back to the CSV file
# with open(csv_file_path, 'w', newline='') as csvfile:
#     writer = csv.writer(csvfile)
#     writer.writerows(existing_data)